[submodule ".vim/bundle/Command-T"]
  path = .vim/bundle/Command-T
	url = https://github.com/wincent/Command-T.git
[submodule ".vim/bundle/vim-applescript"]
  path = .vim/bundle/vim-applescript
	url = https://github.com/vim-scripts/applescript.vim.git
[submodule ".vim/bundle/vim-clojure"]
  path = .vim/bundle/vim-clojure
	url = https://github.com/vim-scripts/VimClojure.git
[submodule ".vim/bundle/vim-coffee-script"]
  path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-fugitive"]
  path = .vim/bundle/vim-fugitive
  url = https://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-nerdcommenter"]
  path = .vim/bundle/vim-nerdcommenter
	url = https://github.com/antonrogov/nerdcommenter.git
[submodule ".vim/bundle/vim-ruby"]
  path = .vim/bundle/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby.git
[submodule ".vim/bundle/vim-rails"]
  path = .vim/bundle/vim-rails
	url = https://github.com/tpope/vim-rails.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-colors-railscasts"]
	path = .vim/bundle/vim-colors-railscasts
	url = https://github.com/antonrogov/vim-railscasts-theme.git
[submodule ".vim/bundle/vim-slim"]
	path = .vim/bundle/vim-slim
	url = https://github.com/antonrogov/vim-slim.git
[submodule ".vim/bundle/vim-tmux-navigator"]
	path = .vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule ".vim/bundle/vim-ruby-rspec"]
	path = .vim/bundle/vim-ruby-rspec
	url = https://github.com/antonrogov/vim-ruby-rspec.git
[submodule ".vim/bundle/vim-handlebars"]
	path = .vim/bundle/vim-handlebars
	url = https://github.com/nono/vim-handlebars.git
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace.git
[submodule ".emacs.d"]
	path = .emacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule ".vim/bundle/vim-plugin-ruscmd"]
	path = .vim/bundle/vim-plugin-ruscmd
	url = https://github.com/powerman/vim-plugin-ruscmd
[submodule ".vim/bundle/vim-vue"]
	path = .vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/bundle/typescript-vim"]
	path = .vim/bundle/vim-typescript
	url = https://github.com/leafgarland/typescript-vim.git
[submodule ".vim/bundle/vim-jsx-pretty"]
	path = .vim/bundle/vim-jsx-pretty
	url = https://github.com/maxmellon/vim-jsx-pretty.git
