[user]
    name = Anton Rogov
    email = anton@blackbits.pro
[alias]
    aa = add --all
    amend = commit --amend
    b = branch
    ba = branch --all
    c = commit -v
    changes = whatchanged -p --abbrev-commit --pretty=medium
    co = checkout
    d = diff
    dc = diff --cached
    fa = fetch --all
    la = !. ~/.zsh/functions/pretty_git_log.zsh && pretty_git_log --all
    lr = !git la -30
    p = push
    pick = cherry-pick
    st = status
[color]
    branch = auto
    status = auto
    diff = auto
    log = auto
    grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore
[apply]
    whitespace = nowarn
[heroku]
    account = blackbits
[credential]
    helper = osxkeychain
[push]
    default = simple
