[user]
  name = Anton Rogov
  email = anton@blackbits.pro
[alias]
  aa = add -A
  ap = add -p
  amend = commit --amend
  b = !pretty-git branch
  ba = !pretty-git branch --all
  bd = branch -D
  bdo = !sh -c 'git push origin :$0'
  c = commit -v
  changes = log --abbrev-commit --pretty=medium -p
  ch = log --abbrev-commit --pretty=medium -p
  cm = commit -m
  cb = checkout -b
  co = checkout
  d = diff
  dv = !git diff|vim -R -
  dc = diff --cached
  f = fetch
  fa = fetch --all
  l = !pretty-git log -25
  la = !pretty-git log --all
  lr = !pretty-git log --all -25
  p = push
  pf = push -f
  pfo = !sh -c 'git push -f origin HEAD:$0'
  pfs = push -f origin HEAD:staging
  pb = !git push --set-upstream origin $(git where)
  pu = push --set-upstream
  pick = cherry-pick
  pa = cherry-pick --abort
  pc = cherry-pick --continue
  pru = remote prune origin
  pl = pull --rebase
  r = rebase
  ra = rebase --abort
  rc = rebase --continue
  rh = reset --hard
  ri = rebase -i
  ril = rebase -i HEAD~20
  s = stash
  sd = stash drop
  sl = stash list
  ss = stash show -p
  sp = stash pop
  st = status
  where = symbolic-ref --short HEAD
[color]
  branch = auto
  status = auto
  ; diff = false
  log = auto
  grep = auto
[core]
  editor = vim
  excludesfile = ~/.gitignore
[apply]
  whitespace = nowarn
[heroku]
  account = blackbits
[credential]
  helper = osxkeychain
[push]
  default = simple
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[init]
	defaultBranch = master
[color "diff"]
  frag = blue
[color "diff-highlight"]
  oldHighlight = white bold 160
  newHighlight = white bold green
[diff-so-fancy]
  markEmptyLines = false
