/.CFUserTextEncoding
/.DS_Store
/.Trash
/.bash_history
/.cache
/.config
/.dotfiles
/.dropbox
/.emacs.d
/.fontconfig
/.gem
/.ghup
/.gnome2
/.guard_history
/.heroku
/.inkscape-etc
/.irb_history
/.lein
/.lesshst
/.m2
/.mysql_history
/.netrc
/.node-gyp
/.npm
/.pry_history
/.psql_history
/.rbenv
/.rnd
/.s3cfg
/.sqlite_history
/.ssh
/.subversion
/.vagrant.d
/.vim/.netrwhist
/.vim/backup
/.viminfo
/.vimrc.local
/.ypp_42
/.zcompdump
/.zhistory
/.zshrc.local
/Desktop
/Documents
/Downloads
/Dropbox
/Movies
/Music
/Pictures
/Public
/Spotify
/code

!/Library/

/Library/*
!/Library/Application Support/
!/Library/Preferences/
!/Library/Scripts/

/Library/Application Support/*
!/Library/Application Support/Propane

/Library/Preferences/*
!/Library/Preferences/com.googlecode.iterm2.plist
!/Library/Preferences/com.ugolandini.Pomodoro.plist
