/.CFUserTextEncoding
/.DS_Store
/.Trash
/.bash_history
/.cache
/.config
/.dbshell
/.dotfiles
/.dropbox
/.dropbox-master
/.erlang.cookie
/.eyrc
/.fontconfig
/.gem
/.ghup
/.gnome2
/.guard_history
/.heroku
/.history
/.inkscape-etc
/.irb_history
/.lein
/.lesshst
/.local
/.m2
/.mongorc.js
/.mysql_history
/.netrc
/.node-gyp
/.npm
/.pry_history
/.psql_history
/.pyenv
/.rbenv
/.rdebug_hist
/.rnd
/.rubies
/.s3cfg
/.sqlite_history
/.ssh
/.subversion
/.vagrant.d
/.vim/.netrwhist
/.vim/backup
/.viminfo
/.vimrc.local
/.virtualenvs
/.wine
/.ypp_42
/.zcompdump
/.zshrc.local

/Desktop
/Documents
/Downloads
/Dropbox
/Movies
/Music
/Pictures
/Public
/Spotify
/code

!/Library/

/Library/*
!/Library/KeyBindings/
!/Library/Scripts/
