body {
  background-color:white ! important;
}
#upload_target {
  display:none ! important;
}
div.bottom {
  padding:0px ! important;
  margin:0px ! important;
  background-image: none ! important;
}
table.chat {
  margin-bottom: 0 !important;
}
div#last_message{
  display: none;
}
div#clipper > div {
  display:none ! important;
}
div.speak {
  display: none;
}
div.Left div.col {
  margin: 0 !important;
  padding: 0 !important;
  background-image:none ! important;
}
div#Header {
  display:none ! important;
}
div#Sidebar {
  display:fixed ! important;
  right:-800px ! important;
  margin:0px ! important;
  padding:0px ! important;
}
div#corner_logo {
  display:none ! important;
}
tbody#chat div, tbody#chat span {
  font-size: 0.9em ! important;
}
div.Left {
  width: 100% ! important;
  padding: 0px ! important;
  margin: 0px ! important;
}
div#Wrapper {
  padding: 0px ! important;
  margin: 0px ! important;
}
div#Container {
  margin:0px auto 0pt ! important;
  padding:0px ! important;
  padding-bottom:5px ! important;
  background-color:#FFFFFF ! important;
}
form#search_form { display: none ! important; }
tr.propane_search td { background-color: #ffd8d8 ! important; }
tr.propane_current_search td { background-color: #ff9090 ! important; }
div#open_bar { display: none ! important; }
tr.propane_alert_match:not(.propane_search) td.body { background-color: #D9FAD9 ! important; }
tr.propane_hidden_enterleave { display: none ! important; }
div#upload_form, input[type="file"] { display:none ! important; }

#todays_transcript {
  padding: 5px !important;
}

td.person img {
  width: 32px;
  height: 32px;
  border-radius: 3px;
  margin-left: 2px;
}

span.star {
  float: right !important;
}

.hubot {
  color: #999
}

.hubot.notice a {
  color: #ccc !important;
}

.hubot.notice a:hover {
  color: #ccc !important;
  background: none !important;
}

.hubot.build {
  font-weight: bold;
}

.hubot.success {
  color: #383;
}

.hubot.failure {
  color: #833;
}

.hubot.deploy {
  color: white;
  padding: 5px;
  margin: 5px 0 -18px -5px;
}

.hubot.deploy a {
  color: white !important;
}

.hubot.deploy.success {
  background-color: #383;
}

.hubot.deploy.failure {
  background-color: #833;
}
